
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(images/civilWar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 	color: #fff;
  background-size: cover;
  background-color: ;
  margin: 0;
  display: table;
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#spidermanPage{
  background-color: red;
}
